{
  "lspconfig": {
    "jdtls": {
      "java.configuration.runtimes": [
        {
          "name": "JavaSE-21",
          "path": {{ .java.path.jdk21 | quote }},
          "default": true
        },
        {
          "name": "JavaSE-17",
          "path": {{ .java.path.jdk17 | quote }},
        }
      ]
    }
  }
}
